<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.4.1" targetFramework="net48" />
  <package id="Castle.LoggingFacility" version="5.0.1" targetFramework="net48" />
  <package id="Castle.Windsor" version="5.0.1" targetFramework="net48" />
  <package id="Kispanadi.Common.Castle" version="1.0.4.2" targetFramework="net48" />
  <package id="Kispanadi.Common.Ddd" version="1.0.4.2" targetFramework="net48" />
  <package id="Kispanadi.Common.Ddd.Interface" version="1.0.13.2" targetFramework="net48" />
  <package id="Kispanadi.Common.Wcf.Faults" version="1.0.4.2" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
</packages>